# vim swap files
*.swp

# files generated during module compilation
.built-in.o.cmd
.tmp_versions/
Module.symvers
built-in.o
modules.order
.devheart.ko.cmd
.devheart.mod.o.cmd
.devheart.o.cmd
devheart.ko
devheart.mod.c
devheart.mod.o
devheart.o
.single_beat.o.cmd
single_beat.o
